@model IEnumerable<Package_and_Delivery_Final_Project.Models.Sender>

@{
    ViewData["Title"] = "Index";
}

<h1>Senders </h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create">+ New </a>
</p>
<table class="table table-striped table-success table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
